*{
    cursor: pointer;
}
body{
    background-color: whitesmoke;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 0px auto;     
}
.header h1{
    color: white;
    background-color: rgba(96, 106, 202, 0.9);
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 5px solid rgb(146, 195, 209);
    border-radius: 20px;
    width: 700px;
    height: 100px;   
}

.navButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(96, 106, 202);
    gap: 20px;
    width: 700px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
    
}
.header .navButtons button{
    background-color: rgb(96, 106, 202);
    border: 2px solid rgb(233, 233, 233);
    border-radius: 10px;
    width: 210px;
    height: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    transition: all 0.5s ease;
}.header .navButtons button:active{
    box-shadow: 3px 3px 5px rgb(146, 195, 209);
    background-color: rgb(78, 90, 197);
    height: 35px;
    width: 220px;
}
.title{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    font-weight: lighter;
    border-bottom: 2px solid black ;
    text-align: center;
    margin-bottom: 80px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 30px;
    border-left: 3px solid blue;
    padding: 20px;
}
dt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-left: 70px;
    border: 2px solid rgb(96, 106, 202);
    border-radius: 10px;
    color: rgb(96, 106, 202);
    padding: 5px;
}
.inforCard{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(230, 227, 227);
    margin: 0px;
    border: 2px solid gray;
    padding: 5px;
}.inforCard p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgba(96, 106, 202, 0.9) ;
    margin-bottom: 0px;
    padding: 0px;
    padding-left: 5px;
    border-left: 2px solid rgba(96, 106, 202, 0.9);



}.inforCard h1{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin: 0px;
}
.infor{
    width: 1300px;
    display: flex;
    flex-direction: column;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
}.links img{
    width: 50px;
    height: 50px;
    border: 2px double black;
    border-radius: 20px;
    margin: 4px;
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
}.links img:active{
    border: 2px double blue;
    box-shadow: 3px 3px 5px rgb(96, 106, 202);
    width: 60px;
    height: 60px;
}
.popUp{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.popupContent{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 350px;
    max-width: 600px;
    border: 4px solid rgb(96, 106, 202);
    border-radius: 20px;
    background-color: rgb(196, 195, 195);
    box-shadow: 3px 3px 5px rgb(146, 195, 209);
    margin: 50px auto;
    padding: 20px;
}
.backButton{
    background-color: gray;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    transition: all 0.5s ease;
}
.backButton:active{
    width: 145px;
    height: 37px;
    box-shadow: 3px 3px 5px rgb(83, 83, 83);
    background-color: rgb(114, 114, 114);
}
.sendText{
    background-color: rgb(96, 106, 202);
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    transition: all 0.5s ease;
}
.sendText:active{
    width: 145px;
    height: 37px;
    box-shadow: 3px 3px 5px rgb(146, 195, 209);
    background-color: rgb(78, 90, 197);
}
.textArea{
    width: 480px;
    height: 150px;
    border-radius: 20px;
    resize: none;
    padding: 8px ;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.popUp div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.mensagem{
    color: black;
    font-size: 20px;
    font-style: italic;
    border: none;
    margin: 0px;
}
